.container {
  min-height: 64px;
  min-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  color: white;
  background: #182345;
}

.logo {
  margin-right: 30px;
  margin-left: 30px;

  color: darkgoldenrod;
}

.links {
  width: 240px;

  display: flex;
  justify-content: space-between;
}

.link {
  padding: 10px 24px;

  display: inline-block;

  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 24px;
  background-color: #182345;
}

.activeLink {
  color: #182345;
  font-weight: 600;
  background-color: orange;
}
